.login-section {
      height: 100vh;
      background: #80808026;
}

.sign-up-btn {
      height: 40px;
      border: 1px solid gray;
      padding: 0 20px;
      border-radius: 50px;
      background: #786f6f2e;
      color: #fff;
}